* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(14, 63, 5, 0.192);
}

input{
    background-color: rgb(44, 110, 47);
    width: 10vh;
    height: 10vh;
    border: none;
    color: white; 
}

#jogador{
    display: inline;
}