* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(14, 63, 5, 0.192);
    text-align: center;
}

input{
    background-color: rgb(44, 110, 47);
    width: 100px;
    height: 100px;
    border: none;
    color: white; 
    font-size: 25px;
}
    

#jogador{
    display: inline;
}

#reiniciarJogo{
    background-color: rgb(28, 71, 30);
    color: white;
    border: none;
    width: 300px;
    height: 20px;
    cursor: pointer;
}

#reiniciarJogo:hover{
background-color: rgb(10, 24, 11);
}

